<a href="https://colab.research.google.com/github/amandalahadi/Belajar-Python-Dasar/blob/main/Number_%26_Mathematics_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Integer dan Float

### Integer

In [ ]:
#Menentukan type data
type(5)

In [ ]:
#Mengubah string menjadi Int
int("26")

In [ ]:
#Integer Literal (cara 1)
1000000

In [ ]:
#Integer Literal (cara 2) menggunakan "_"
1_000_000

Cara 2 digunakan agar bilangan besar mudah untuk dibaca.

**python tidak dapat membaca integer menggunakan tanda koma atau titik**
seperti 1.000.000

### Float

In [ ]:
#Menentukan type data
type(2.6)

In [ ]:
#Mengubah string menjadi Float
float("2.75")

In [ ]:
#Float Literal (cara 1)
1000000.0

In [ ]:
#Float Literal (cara 2) menggunakan "_"
1_000_000.0

In [ ]:
#Float Literal (cara 3) menggunakan "e"
1e6 #Artinya adalah 1 x 10^6

In [ ]:
#e untuk pangkat negatif
3e-2

In [ ]:
#batasan untuk e
x = 3e400

In [ ]:
x

In [ ]:
type(x)

In [ ]:
-3e400

### Operasi Aritmatika

In [ ]:
#Operasi penjumlahan
3 + 4

In [ ]:
#float + int (dan sebaliknya)
3 + 4.0

In [ ]:
#Operasi pengurangan (dan sebaliknya)
5 - 2

In [ ]:
#float - int
5 - 2.0

In [ ]:
#Operasi Perkalian
4*5

In [ ]:
#float * int (dan sebalinya)
4.0*5

In [ ]:
#Operasi pembagian
15/3

In [ ]:
15.0/3

**Operasi pembagian selalu menghasilkan float**

In [ ]:
int(15/3)

In [ ]:
x = 15.0/3
int(x)

### Pembagian Bilangan Bulat (Integer Division)

_**Integer division**_ dalam matematika dikenal dengan **fungsi bilangan bulat terbesar**

a//b

In [ ]:
9//3

In [ ]:
5.0//2

In [ ]:
-3//2

In [ ]:
#Tidak berlaku untuk pembagian dengan 0
1//0

### Eksponen (Perpangkatan)

In [ ]:
#2 pangkat 2
2**2

In [ ]:
2**5

In [ ]:
#Eksponen menggunakan float
3**2.5

In [ ]:
#Pangkat bilangan negatif
2**-1

In [ ]:
#Hubungan pangkat positif dan pangkat negatif
1/2**1

### Operator Modulus (Modulo)

Operator **%** dikenal dengan istilah **modulus**. 

a%b akan memberikan sisa pembagian a terhadap b

In [ ]:
5%3

In [ ]:
20%7

In [ ]:
1%0

In [ ]:
# a atau b adalah bilangan negatif
5%-3

In [ ]:
-5%3

In [ ]:
-5%-3

### Ekspresi Aritmatika (Hitung Campuran)

**Order of operations** (Urutan Operasi)
Urutan berdasarkan prioritas (mana yang dioperasikan terlebih dahulu)

1. Apa yang ada dalam tanda kurung ()

2. **

3. *, /, //, %

4. +, -

**Cat**:
Jika operasi berada pada prioritas yang sama, maka didahulukan operasi yang muncul paling awal (paling kiri)

In [ ]:
4*3 - 1

In [ ]:
6/2+3**2

In [ ]:
-1 * (-3 - 2)/4

In [ ]:
4 % 3 * 5 / 2

###**LATIHAN 1**

Buat sebuah script yang meminta user untuk memasukkan dua angka x dan y dan memberikan output
"x pangkat y adalah ...".

## Fungsi Matematika dan _Number Methods_

Python memiliki _Built in functions_ untuk jenis data _Number_. BErikit adalah tiga diantaranya (yang paling sering digunakan):
1. **round()**, --> Untuk membulatkan bilangan kebeberapa tempat desimal
2. **abs()**, --> Untuk memperoleh nilai mutlak dari suatu bilangan
3. **pow()**, --> Untuk memangkatkan suatu bilangan

### Fungsi round()

#### 1. Membulatkan ke bilangan bulat terdekat

In [ ]:
#Angka dibelakang koma kurang dari 5
round(2.3)

In [ ]:
#Angka dibelakang koma lebih dari 5
round(2.7)

In [ ]:
#Angka dibelakang koma sama dengan 5
round(2.5)

In [ ]:
#Angka dibelakang koma sama dengan 5
round(3.5)

Ketika angka dibelakang koma **sama dengan 5** Python menggunakan aturan **pembulatan ke bilangan genap terdekat**

#### 2. Membulatkan ke "jumlah angka tertentu" dibelakang koma.

formula:
**round(x, y)** --> x adalah bilangan yang akan dibulatkan, y jumlah angka dibelakang koma

**cat**: y harus bilangan bulat

In [ ]:
round(3.14159, 3)

In [ ]:
round(2.71828, 2)

In [ ]:
#Eror
round(2.71828, 2.5)

In [ ]:
#Nilai yang diharapkan: 2.68
round(2.685, 2)

In [ ]:
round(3.35, 1)

### Fungsi abs()

In [ ]:
abs(3)

In [ ]:
abs(-2.5)

### Fungsi pow()

formula: **pow(x, y)** --> x**y

In [ ]:
pow(2,3)

In [ ]:
pow(2,-2)

Perbadaan fungsi **pow()** dengan perpangkatan biasa (**) adalah, fungsi **pow()** masih menerima satu argumen lagi. Sehingga formulanya bisa menjadi:

**pow(x, y, z)** --> x**y % z

In [ ]:
pow(2,3,3)

### Number Methods

diantaranya:

**.is_integer()** _method_ --> Untuk mengecek apakah suatu **float** adalah **integral**. **Integral** berarti bilangan tidak memiliki bagian pecahan (angka dibelakang koma sama dengan 0).

In [ ]:
#Output False
x = 2.5
x.is_integer()

In [ ]:
#Output True
y = -3.0
y.is_integer()

###**LATIHAN 2**

1. Tulis sebuah skript yang meminta user memasukan bilangan desimal, kemudian memberikan output bilangan tersebut dengan pembulatan dua angka dibelakang koma. 

2. Tulis sebuah skript yang meminta user memasukan bilangan bulat, kemudian memberikan output nilai mutlak dari bilangan tersebut. 

3. Tulis sebuah skript yang meminta user memasukan 2 bilangan, kemudian memberikan output: Apakah benar selisih dari dua bilangan tersebut adalah sebuah integer?

## Style dalam Memprint Number

### Menggunakan f-strings

In [ ]:
#Output number tidak berubah
x = 8.125
f"Nilai dari x adalah {x}"

In [ ]:
#Output number berubah sesuai jumlah angka dibelakang koma
x = 8
f"Nilai dari x adalah {x:.2f}"

Tanda kolon (**:**) setelah variabel x menunjukkan bagian setelahnya adalah spesifik format

Pada contoh, spesifik formatnya adalah **.2f**

**.2** pada **.2f** menunjukan bahwa bilangan akan dibulatkan 2 angka dibelakang koma, meskipun bilangan awalnya tidak memiliki angka dibelakang koma.

In [ ]:
x = 8.126
f"Nilai dari x adalah {x:.2f}"

In [ ]:
#1 angka dibelakang koma
x = 8.125
f"Nilai dari x adalah {x:.1f}"

In [ ]:
y = 8
f"Nilai dari y adalah {y:.2f}"

In [ ]:
y = 8
f"Nilai dari y adalah {y:.4f}"

Selain itu kita juga bisa menggunakan spesifik format yang lain, misalnya untuk memisahkan sebuah bilangan besar menjadi bagian ribuan, jutaan, dst

In [ ]:
n = 1234567890
f"Nilai dari n adalah {n:,}"

In [ ]:
n = 1234.567890
f"Nilai dari n adalah {n:,.2f}"

Spesifikasi **,.2f** biasanya berguna untuk menampilkan nilai mata uang.

In [ ]:
saldo = 2000000.0
belanja = 535000.25
Sisa_Saldo = saldo - belanja

In [ ]:
#Memprint sisa saldo
f"Setelah membelanjakan Rp.{belanja:,.2f}, sisa uang saya adalah Rp.{Sisa_Saldo:,.2f}"

Spesifik format untuk perbandingan persen dapat menggunakan operator **%**

In [ ]:
rasio = 0.6
f"Sebanyak {rasio:.1%} mahasiswa tertarik untuk mempelajari pemrograman"

In [ ]:
f"Sebanyak {rasio:.2%} mahasiswa tertarik untuk mempelajari pemrograman"

###**LATIHAN 3**

1. Print hasil dari perhitungan 3**0.125 sebagai bilangan dengan 3 angka dibelakang koma.
2. Print hasil dari 2/10 sebagai persentase tanpa angka dibelakang koma.
3. Buat Script yang meminta user memasukkan Saldo uang yang dimiliki, dan jumlah pengeluarannya saat itu, lalu memberikan output sisa saldo dalam satuan Rupiah dan memiliki dua angka dibelakang koma.