<a href="https://colab.research.google.com/github/amandalahadi/Belajar-Python-Dasar/blob/main/Strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**STRINGS**

Strings adalah salah satu tipe data fundamental. Disebut **fundamental** karena tipe data ini tidak bisa disederhanakan lagi menjadi nilai yang lebih kecil atau tipe data lain.

Tipe data yang merupakan gabungan dari beberapa tipe data dikenal dengan istilah **struktur data** atau **data structures**

In [ ]:
type("Amanda")

fungsi **type()** juga dapat digunakan untuk menentukan tipe data dari sebuah variabel

In [ ]:
buah = "Apel"
type(buah)

In [ ]:
print(type(buah))

Output <class 'str'> menunjukkan bahwa "Apel" adalah contoh dari tipe data **str** atau **strings**

String memiliki tiga properti yang akan kita bahas selanjutnya:
1. String berisi karakter (*character*), yang merupakan huruf atau simbol individual.
2. String memiliki panjang (*length*), yang merupakan jumlah karakter
terkandung dalam string.
3. Karakter dalam sebuah string muncul secara berurutan, artinya setiap karakter memiliki posisi bernomor dalam string tersebut.

##**STRINGS LITERALS**

Setiap kali Anda membuat string dengan mengelilingi teks dengan tanda kutip, string ini disebut _**string literal**_. Nama ini menunjukkan bahwa string secara **harfiah** ditulis dalam kode Anda.

Contoh string yang tidak secarah harfiah tertulis dalam kode adalah string yang berasal dari *user input*

In [ ]:
string1 = "Saya suka membaca buku"
string2 = 'buku favorit saya adalah Game of Thrones'

In [ ]:
print(string1)
print(string2)

In [ ]:
nama_Anda = input()

In [ ]:
print(type(nama_Anda))

###Delimiters

Tanda kutip yang digunakan saat menuliskan strings disebut **delimiters**, karena tanda ini memberitahu python dimana sebuah string mulai dan berakhir.

Ketika kamu menggunakan salah satu tanda kutip sebagai delimiter, Anda dapat menggunakan tanda lainnya di dalam string

In [ ]:
string3 = "Saya menyukai ungkapan 'Membaca adalah jendela dunia!'"
string4 = 'Saya tidak suka ketika dia memanggil dengan sebutan,"Say"'

In [ ]:
print(string3)
print(string4)

In [ ]:
string5 = "Dia berkata, "Hallo, Apa kabar?""

In [ ]:
string6 = "We're #1!"
string7 = "×Pýŧħøŋ×"

In [ ]:
string6

In [ ]:
string7

##**MENENTUKAN PANJANG (*LENGTH*) SEBUAH STRING**

Jumlah karakter yang terdapat dalam sebuah string, **termasuk spasi**, disebut **panjang string** atau **LENGTH**

Contoh:
"saya" --> memiliki panjang 4

"saya 123" --> memiliki panjang 8

Panjang sebuah string dapat kita lihat menggunakan fungsi **_len()_**

In [ ]:
len("saya")

In [ ]:
len("saya 123")

Kita juga dapat mengugunakan len() untuk menentukan panjang string yang dimasukkan kedalam sebuah variabel

In [ ]:
len(string3)

##**Multiline STRING**

Misalnya Anda akan menuliskan sebuah paragraf:

*“This planet has—or rather had—a problem, which was
this: most of the people living on it were unhappy for
pretty much of the time. Many solutions were suggested
for this problem, but most of these were largely concerned with the movements of small green pieces of
paper, which is odd because on the whole it wasn’t the
small green pieces of paper that were unhappy.”
— Douglas Adams, The Hitchhiker’s Guide to the Galaxy*

**PEP 8** style merekomendasikan baris kode dalam python tidak boleh lebih dari 79 karakter.

###**Multiline** Menggunakan *Backslah* " \ "

Cara ini dilakukan dengan menambahkan " \ " pada setiap akhir baris/line, tetapi bukan pada akhir paragraf.

In [ ]:
paragraf = "This planet has - or rather had - a problem, which was \
this: most of the people living on it were unhappy for pretty much \
of the time. Many solutions were suggested for this problem, but \
most of these were largely concerned with the movements of small \
green pieces of paper, which is odd because on the whole it wasn't \
the small green pieces of paper that were unhappy."

In [ ]:
print(paragraf)

Ketika kita print() **multiline** strings yang penulisannya menggunakan **_backslash_**, python akan memberikan outputnya dalam satu baris

###**Multiline** Menggunakan tanda petik triple """ atau '''

In [ ]:
paragraf = """This planet has - or rather had - a problem, which was
this: most of the people living on it were unhappy for pretty much
of the time. Many solutions were suggested for this problem, but
most of these were largely concerned with the movements of small
green pieces of paper, which is odd because on the whole it wasn't
the small green pieces of paper that were unhappy."""

In [ ]:
print(paragraf)

Strings yang menggunakan tanda petik triple memperhitungkan *whitespace*. Contoh di atas menunjukan hasil print() yang sama persis dengan penulisan string literal nya, termasuk disini setiap baris baru. Pada suatu kondisi, Anda mungkin tidak menginginkan penulisan string yang seperti ini. **JADI** pikirkan model yang ingin Anda gunakan ketika akan menuliskan *multiline* strings.

In [ ]:
print("""Contoh dari 
              string yang dituliskan dalam multiple lines
   dan menggunakan 'whitespace'.""")

String yang menggunakan tanda petik triple memiliki tujuan khusus dalam Python. Mereka digunakan untuk mendokumentasikan kode. Anda akan sering menemukannya di bagian atas .py dengan deskripsi tujuan kode. Mereka juga digunakan untuk mendokumentasikan fungsi kustom. Ketika digunakan untuk mendokumentasikan kode, string yang dikutip tiga kali disebut **_docstrings_**.

#**CONCATENATION, INDEXING, dan SLICING**

1. **Concatenation** --> menggabungkan dua strings 
2. **Indexing** --> menentukan sebuah karakter tunggal dari string
3. **Slicing** --> mengambil beberapa karakter sekaligus dari sebuah string

##**STRING CONCATENATION**

Untuk menggabungkan atau merangkai (*concenate*) dua string, Anda dapat menggunakan operator "+"

In [ ]:
#Merangkai tanpa whitespice
kata1 = "Saya suka"
kata2 = "membaca"
Hobiku = kata1 + kata2
print(Hobiku)

In [ ]:
#Menambahkan whitespice dalam rangkaian
nama_depan = "Amanda"
nama_belakang = "La Hadi"
Nama_lengkap = nama_depan + " " + nama_belakang
print(Nama_lengkap)

In [ ]:
nama_depan = "Amanda "
nama_belakang = "La Hadi"
Nama_lengkap = nama_depan + nama_belakang
print(Nama_lengkap)

##**STRING INDEXING**

Setiap karakter pada sebuah string memiliki posisi yang disebut index. Posisi ini dtuliskan dalam bentuk angka terurut. Anda dapat mengakses karakter ke-n dengan memasukan nilai n kedalam kurung siku ([ dan ]) langsung setelah string tersebut.

In [ ]:
"amanda"[2]

In [ ]:
kueku = "kue bolu"

In [ ]:
kueku[1]

In [ ]:
kueku[0]

**PENTING**: dalam python, hitungan selalu dimulai dari **0** !!!

In [ ]:
#Panjang kueku adalah 8
len(kueku)

kue bolu

01234567

###**Index negatif**

Index negatif dimulai dari angka -1 dan menentukan posisi karakter mulai dari sebelah kanan.

In [ ]:
kueku[-1]

In [ ]:
kueku[-3]

Index negatif tanpak tidak berguna, tetapi terkadang bisa menjadi pilihan yang lebih baik dibandingkan index positif.

Contoh: Anda ingin menentukan karakter terakhir dari input string yang diberikan user, dari mana Anda mengetahui panjang string nya untuk menentukan karakter terakhir??

In [ ]:
kata_saya = input()
final_index = len(kata_saya) - 1
huruf_terakhir = kata_saya[final_index]
print(huruf_terakhir)

In [ ]:
kata_Anda = input()
huruf_terakhir2 = kata_Anda[-1]
print(huruf_terakhir2)

##**STRING SLICING**

Andaikan Anda membutukan string yang hanya memuat 3 huruf pertama dari string "kue bolu". Anda dapat mengakses setiap karakter menggunakan index, lalu merangkai nya.

In [ ]:
tiga_huruf_pertama = kueku[0] + kueku[1] + kueku[2]

In [ ]:
print(tiga_huruf_pertama)

Anda dapat mengambil beberapa bagian dari string, disebut **_substring_**, dengan memasukan tanda ":" diantara dua index pada kurung siku, seperti:

In [ ]:
kueku[0:3] #karakter dari index 0 sampai index ke 3-1

kueku[0:3] mengembalikan tiga karakter pertama dari string yang ditetapkan untuk variabel **kueku**, dimulai dengan karakter dengan indeks 0 dan seterusnya, **tapi tidak termasuk karakter dengan indeks 3**. Bagian [0:3] dari kueku[0:3] adalah disebut **_slicing_** atau **irisan**. Dalam hal ini, python memberikan output sepotong "kue bolu". 

##Slicing [x:y]
**substring mulai dari index ke x sampai index ke y-1 (atau index sebelum y)**

[0:2] --> substring index ke 0 sampai 1
[3:9] --> substring index ke 3 sampai 8
[-8:-4] --> substring index ke -8 sampai -5

cat: **_slicing_ selalu mulai dari arah kiri**

kueku = "kue bolu"

In [ ]:
kueku[:5]

In [ ]:
kueku[5:]

In [ ]:
kueku[:]

In [ ]:
kueku[:10]

In [ ]:
kueku[9:11]

In [ ]:
kueku[-8:-3]

In [ ]:
kueku[-8:]

###**String Tidak Dapat Diubah**

String tidak dapat diubah, yang berarti Anda tidak dapat mengubahnya setelah Anda membuatnya!

In [ ]:
kata3 = "python"
kata3[0] = c

In [ ]:
kata4 = "c" + kata3[1:]

In [ ]:
print(kata4)

## **MANIPULASI STRING MENGGUNAKAN METHOD**

**Method** adalah fungsi spesial yang telah disediakan python untuk tipe-tipe object tertentu.

*Method* yang dapat digunakan pada *strings* disebut **String Methods**

Terdapat banyak sekali *string method*, namun yang akan kita bahas hanya yang paliong sering digunakan yaitu untuk:

1. Mengonversi string menjadi huruf besar atau kecil
2. Menghapus *whitespaces* dari *string*
3. Menentukan apakah string dimulai dan diakhiri dengan karakter tertentu

## **Mengubah _String Case_**

### **Mengubah semua huruf menjadi huruf kecil/_lower case_**

Menggunakan _method_ **.lower()**

**Formula**: string.lower()

In [ ]:
#string dinyatakan langusng
"JakaTA".lower()

'jakata'

In [ ]:
#string sebagai nilai dari variabel
Kota = "KENDARI"

In [ ]:
Kota.lower()

'kendari'

Penggunaan tanda **titik** **"."** untuk membedakan fungsi spesial dengan fungsi bawaan python seperti _print()_ dan _type()_

### **Mengubah semua huruf menjadi huruf besar/_UPPER case_**

Menggunakan _method_ **.upper()**

**Formula**: string.upper()

In [ ]:
#mengubah string menjadi huruf besar
"harga Jual".upper()

'HARGA JUAL'

## **Menghapus _Whitespaces_ dari String**

Terdapat tiga **string methods** untuk menghapus _whitespaces_ yaitu:     
1. **.rstrip()** --> Menghapus karakter pada bagian **kanan**  _string_
2. **.lstrip()** --> Menghapus karakter pada bagian **kiri** _string_
3. **.strip()** --> Menghapus karakter pada bagian **kiri dan kanan** _string_ secara bersamaan.

### **Menggunakan .rstrip()**

In [ ]:
Buku1 = "Atomic Habits       "

In [ ]:
Buku1.rstrip()

'Atomic Habits'

### **Menggunakan .lstrip()**

In [ ]:
Buku2 = "        Brilliant Thinker"

In [ ]:
Buku2.lstrip()

'Brilliant Thinker'

### **Menggunakan .strip()**

In [ ]:
Buku3 = "      Paradox of Choice      "

In [ ]:
Buku3.strip()

'Paradox of Choice'

Ketiga _method_ ini tidak menghapus spasi/_whitespaces_ yang ada diantara kata atau karakter dalam _string_

## **Menentukan apakah string dimulai dan diakhiri dengan karakter tertentu**

Saat Anda bekerja dengan _strings_, terkadang Anda perlu menentukan apakah string yang diberikan dimulai dengan atau diakhiri dengan karakter tertentu. 

Ada dua _string methods_ untuk menyelesaikan masalah ini: 
1. **.startswith()** --> Menentukan suatu _string_ dimulai dengan karakter apa

   Formula: string.startwith("**karakter yang akan dicek**")

2. **.endswith().** --> Menentukan suatu _string_ daikhiri dengan karakter apa
 
    Formula: string.endstwith("**karakter yang akan dicek**")

Kedua *method* ini akan menghasilkan nilai Boolean, **True** atau **False**

### **Menggunakan .startswith()**

In [ ]:
#Contoh untuk output Salah
"Saya suka membaca".startswith("Aku")

False

In [ ]:
"Saya suka membaca".startswith("SAYA")

False

In [ ]:
#Contoh untuk output Benar
"Saya suka membaca".startswith("Sa")

True

### **Menggunakan .endswith()**

In [ ]:
#Contoh untuk output Benar
"Saya suka membaca".endswith("ca")

True

In [ ]:
#Contoh untuk output Salah
"Saya suka membaca".endswith("CA")

False

**_Method_ tidak merubah karakter dari sebuah string**

In [ ]:
#Method tidak merubah string
bilangan = "Dua"

In [ ]:
bilangan.upper()

'DUA'

In [ ]:
bilangan

'Dua'

Jika ingin menggunakan hasil dari _string methods_ kita dapat memasukkannya sebagai nilai sebuah variabel

In [ ]:
#Variebel yang berisi string dari string methods
bil_new = bilangan.upper()

In [ ]:
bil_new

'DUA'

Mengeksplorasi _string methods_

In [ ]:
bilangan.

## **Berinteraksi dengan _User Input_**

_**User input**_ adalah masukan data yang bisa Anda minta dari user dengan menggunakan fungsi _**input()**_

In [ ]:
input()

26

'26'

In [ ]:
#Mengajukan pertanyaan/pernyataan tertentu cara 1
Pertanyaan = "Apa angka favorit Anda?"
User_input = input(Pertanyaan)
print("Angka favorit Anda adalah ", User_input)

Apa angka favorit Anda?26
Angka favorit Anda adalah  26

In [ ]:
#Mengajukan pertanyaan/pernyataan tertentu cara 2
User_input = input("Apa angka favorit Anda? ")
print("Angka favorit Anda adalah ", User_input)

Apa angka favorit Anda? 26
Angka favorit Anda adalah  26

Data yang dihasilkan dari fungsi **input()** selalu dianggap sebagai _string_.

## **Strings dan Numbers**

Pada bagian ini Anda akan belajar bagaimana menangani **_string_ dari Numbers (angka)**. 
1. Bagaimana operasi aritmatika bekerja pada string?
2. Bagaimana mengkonversi antara tipe data _string_ dan _numbers_?

### **Operasi Aritmatika pada Stirngs**

In [ ]:
#Operasi Penjumlahan (+)
Nama_depan = "Amanda"
NAma_belakang = "Manopo"
Nama_depan + NAma_belakang

'AmandaManopo'

In [ ]:
Bil = "6"
Bil + Bil

'66'

In [ ]:
Bil1= 6
Bil1 + Bil1

12

In [ ]:
#Operasi Perkalian (*) 
Bil * 3

#Ingat, perkalian adalah penjumlahan berulang

'666'

In [ ]:
3 * Bil

'666'

In [ ]:
#Perkalian dua String
Bil * Bil

TypeError: can't multiply sequence by non-int of type 'str'

In [ ]:
#Penjumlahan String dan Numbers
Bil + Bil1

TypeError: can only concatenate str (not "int") to str

### **Mengubah Strings menjadi Numbers (Angka)**

In [ ]:
#Input sebuah Angka
Bil = input("Angka saya adalah: ")
triple_bil = 3 * Bil
print(triple_bil)

Angka saya adalah: 26
262626

Untuk melakukan aritmatika pada angka yang terdapat dalam string, Anda harus terlebih dahulu **mengonversinya dari tipe string ke tipe numbers**. 

Ada dua cara untuk melakukan ini: 
1. **int()**
2. **float()**

In [ ]:
#Mengubah strings menjadi integer
int("12")

12

In [ ]:
#Mengubah strings menjadi float

In [ ]:
float("12.0")

12.0

In [ ]:
float("12")

12.0

In [ ]:
Bil = input("Angka saya adalah: ")
triple_bil = float(Bil) * 3
print(triple_bil)

Angka saya adalah: 26
78.0

### **Mengubah Numbers menjadi Strings**

In [ ]:
jumlah_donat = 7
"Saya memesan " + jumlah_donat + " buah donat"

TypeError: can only concatenate str (not "int") to str

Anda dapat mengubah _numbers_ menjadi _strings_ mennggunakan fungsi **str()**

In [ ]:
jumlah_donat = 7
"Saya memesan " + str(jumlah_donat) + " buah donat"

'Saya memesan 7 buah donat'

In [ ]:
#str() pada numbers literal
str(6)

'6'

**str()** bahkan dapat menggunakan operasi aritmatika didalamnya.

In [ ]:
#Menggunakan operasi matematika dalam str()
Donat1 = 6
Donat2 = 2
"Saya memesan " + str(Donat1 - Donat2) + " buah donat"

'Saya memesan 4 buah donat'

**str()** tidak terbatas untuk merubah angka, tetapi juga dapat digunakan untuk melihat bentuk string dari berbagai tipe data

In [ ]:
str(print)

'<built-in function print>'

## **Streamline Your Print Statements**

Jika Kita mempunyai _string_ nama_pelanggan = Zoro dan dua integers kopi = 2 dan donat = 6, maka untuk menampilkan Output:

"**Zoro memesan 2 kopi dan 6 donat**"

dengan menggunakan str() Kita dapat melakukannya dengan dua cara

In [ ]:
#Cara 1
nama_pelanggan = "Zoro"
kopi = 2
donat = 6
print(nama_pelanggan, "memesan", str(kopi), "kopi dan", str(donat), "donat")

Zoro memesan 2 kopi dan 6 donat

In [ ]:
#Cara 2
nama_pelanggan = "Zoro"
kopi = 2
donat = 6
print(nama_pelanggan + " memesan " + str(kopi) + " kopi dan " + str(donat) + " donat ")

Zoro memesan 2 kopi dan 6 donat

### **Formatted string literals ATAU _f-strings_**

Formula: 
**f"karakter {variabel1} karakter {variabel2} karakter dst ..."**

Cat: Posisi **karakter** dan **variabel** random/acak

In [ ]:
nama_pelanggan = "Zoro"
kopi = 2
donat = 6
f"{nama_pelanggan} memesan {kopi} kopi dan {donat} donat"

'Zoro memesan 2 kopi dan 6 donat'

1. _Strings literal_ diawali dengan huruf **f** sebelum tanda petik buka.
2. Nama variabel diletakkan didalam kurung kurawal { } tanpa menggunakan str()

Kita juga dapat memasukan ekspresi python dalam tanda { } pada f-strings

In [ ]:
#Menyatakan 4 kali 5
x = 4
y = 5
f"Hasil kali dari {x} dan {y} adalah {x*y}"

'Hasil kali dari 4 dan 5 adalah 20'

### **Menggunakan .format()**

In [ ]:
print("{} memesan {} kopi dan {} donat".format(nama_pelanggan, kopi, donat))

Zoro memesan 2 kopi dan 6 donat

_**f-strings**_ umumnya lebih pendek dan lebih mudah dibaca dibandingkan dengan _**.format()**_

### **Menggunakan %**

In [ ]:
Nama = "Amin"
Usia = 26
print("%s memesan %d kopi dan %d donat" % (nama_pelanggan, kopi, donat))

Zoro memesan 2 kopi dan 6 donat

## **Menemukan sebuah String dalam sebuah String**

Kita dapat menemukan sebuah **string tertentu** atau _**substring**_ pada sebuah string dengan menggunakan _method_ **.find()**

In [ ]:
#Menemukan string tertentu pada sebuah kalimat
Kalimat = "Saya baru mulai mempelajari python"
Kalimat.find("Saya")

0

Output dari _.find()_ merupakan index dari karakter pertama pada substring yang ingin kita lacak. 

Jika Output dari _.find()_ adalah **-1**, artinya adalah substring yang kamu lacak tidak berada pada string yang dimaksud.

In [ ]:
#Output substring tidak ada
Kalimat.find("Aku")

-1

In [ ]:
#Output substring tidak ada karena case sensitive
Kalimat.find("SAYA")

-1

Jika terdapat dua atau lebih substring yang identik, maka _.find()_ hanya akan menampilkan index dari substring pertama yang muncul.

In [ ]:
#substring muncul lebih dari satu kali
Kalimat2 = "Saya suka membaca buku fiksi dan non fiksi"
Kalimat2.find("fiksi")

23

Jika kita ingin melacak Angka dalam string, maka kita harus menganggap Angka tersebut sebagai string

In [ ]:
#substring adalah angka
"Angka favorit saya adalah 28".find("28")

26

### **Mengganti substring tertentu menggunakan .replace()**

In [ ]:
my_story = "Saya hanya memberitahumu kebenaran; tidak ada yang lain selain kebenaran!"
my_story.replace("kebenaran", "kebohongan")

'Saya hanya memberitahumu kebohongan; tidak ada yang lain selain kebohongan!'

.replace() **tidak** merubah string awal karena string tidak dapat dirubah (_immutable_)

Tetapi, kita dapat menyimpan perubahannya dalam variabel baru.

In [ ]:
my_story

'Saya hanya memberitahumu kebenaran; tidak ada yang lain selain kebenaran!'

In [ ]:
#Memasukkan pada variabel baru
my_story = "Saya hanya memberitahumu kebenaran; tidak ada yang lain selain kebenaran!"
new_story = my_story.replace("kebenaran", "kebohongan")
new_story

'Saya hanya memberitahumu kebohongan; tidak ada yang lain selain kebohongan!'

**Cat**: .replace() hanya dapat digunakan untuk satu substring