<a href="https://colab.research.google.com/github/amandalahadi/Belajar-Python-Dasar/blob/main/Tipe_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Tipe Data**

In [ ]:
nama_saya = 'Amanda'
Usia_saya = 28
Angka_favorit = 2.718
memiliki_novel_GoT = True

print('Nama saya adalah', nama_saya)
print('Usia saya', Usia_saya)
print('Angka favorit saya adalah', Angka_favorit)
print('Saya memiliki novel Game of Thrones:', memiliki_novel_GoT)

Kalian dapat melihat bahwa pemberian nama deskriptif pada **variabel** memberikan konteks yang jelas bagi skript yang kita tulis.

##**Melihat Tipe Data**

Kita dapat melihat tipe data menggunakan fungsi **type()**

In [ ]:
print(type(nama_saya))
print(type(Usia_saya))
print(type(Angka_favorit))
print(type(memiliki_novel_GoT))

###str --> string

**string** adalah urutan karakter. 

###int--> integer

**integer** memiliki arti yang sama seperti dalam matematika (yaitu "bilangan bulat"). 

###float --> float

**float** atau **floating point number** mengacu pada angka desimal (yaitu "bilangan real" dalam matematika);  disebut float karena titik desimal diizinkan untuk "mengambang" melalui digit, memungkinkan kita untuk mewakili angka besar (mis. 204939.12) dan angka kecil (mis. 0,000239). 

###bool --> boolean

**bool** atau **boolean** mengacu pada variabel yang bernilai benar atau salah (*true* atau *false*).

Ini hanya beberapa jenis data yang akan kita temui, dan kita akan menjelajahi yang lain nanti dalam kursus ini.

Dalam Python, kita dapat menetapkan tipe data apa pun ke variabel tanpa mendeklarasikan tipe variabel sebelumnya. Tidak semua bahasa pemrograman berperilaku seperti ini.

##**Integer**

**Decimal** --> Sistem bilangan yang menggunakan 10 angka: 0, 1, 2, 3, 4, 5, 6, 7, 8, 9

Selain sistem decimal, sistem angka lain dituliskan dengan menggunakan *prefix* atau awalan

**binary** --> Sistem bilangan yang menggunakan 2 angka: 0, 1

Ditulis menggunakan awalan 0b atau 0B

**Octal** --> Sistem bilangan yang menggunakan 8 angka: 0, 1, 2, 3, 4, 5, 6, 7

Ditulis menggunakan awalan 0o atau 0O

**Hexadecimal** --> SIstem bilangan yang menggunakan 16 angka: 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, A, B, C, D, E, F

Ditulis menggunakan awalan 0x atau 0X

In [ ]:
print(0b11)
print(0O32)
print(0x1F)

In [ ]:
0O32

In [ ]:
print(type(0b11))
print(type(0O32))
print(type(0x12))

##**Float**

Simpel: bilangan yang menggunakan "koma"

In [ ]:
type(4.0)

In [ ]:
4.

In [ ]:
.2

In [ ]:
.4e7

In [ ]:
4.2e-4

##**Boolean**

In [ ]:
type(True)

In [ ]:
type(False)

In [ ]:
type(true)

Kita dapat melihat bahwa **True** berbeda dengan **true**. Jadi, untuk tipe data boolean, datanya harus diawali dengan huruf kapital.

**True**

ATAU

**False**